.project-list-circle {
    display: flex;
    flex-wrap: wrap;
}
.project-circle {
    min-width: 40ch;
}
.project-details {
    flex: 1 1 70%;
    min-width: 70ch;
}
.project-circle {
    list-style-type: none;
}
.project-circle li{
    word-wrap: break-word;
    margin: 5px 0px;
    padding: 10px 0px 10px 10px;
    cursor: pointer;
}
.project-circle li.active, .project-circle li:hover {
    background-color: #41b218;
    background-image: linear-gradient(to right, #90df73 10%, #ffffff 80%);
    border-radius: 50px;
}
.project-circle li:nth-child(2){
    margin-left: 20px;
}
.project-circle li:nth-child(3){
    margin-left: 40px;
}
.project-circle li:nth-child(4){
    margin-left: 40px;
}
.project-circle li:nth-child(5){
    margin-left: 20px;
}
