/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    background: url("/public/img/hero-bg-plain.png") top right no-repeat;
    background-size: cover;
    position: relative;
    color: #c6dace;
  }
  
  
  #hero:before {
    content: "";
    width: 100%;
    height: 100vh;
    background: url("/public/img/triangles.png") top right no-repeat;
    background-size: cover;
    position: absolute;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
  }
  
  #hero .name-title {
    color: #39B54A;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero .social-links {
    margin-top: 30px;
  }
  
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin-right: 20px;
  }

  #hero a .icons {
    font-size: 24px;
    fill: #c6dace;
    transition: 0.3s;
  }
  
  #hero .social-links a .icons:hover {
    fill: #39B54A;
  }
  
  @media (max-width: 992px) {
    #hero {
      text-align: center;
    }
  
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
      display: inline-block;
    }

    #hero .designation {
      padding-left: 10px;
    }
  
    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }

    .hero-right {
      margin-top: 25px;
    }
  }