/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/

.about p {
  color: #c6dace;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 24px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:first-child {
  padding-bottom: 30px;
  font-size: 18px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about-list {
  list-style-type: none !important;
  vertical-align: middle;
  color: #fff;
}

.about-list li span {
  margin-left: 10px;
  color: #2ed070;
}

.about-list li span a {
  color: #2ed070 !important;
}

.img-fluid {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 10px solid #39B54A;
  border-radius: 50%;
}

.my-profile-img {
  text-align: center;
}

.intro-desc .ai-tool-link{
  padding-left: 5px;
}

.green-highlight a{
  color: #2ed070;
  font-weight: bold;
  transition: color 0.3s ease;
}

