.main-header {
  display: flex;
  flex-direction: row;
  padding: 5px 40px;
  border-radius: 50px;
  /* Old orange color header (Removed as its old style)
      background-color: #ff5252;
      background-image: linear-gradient(to right, #ff6a4d 30%, #fc8959 60%);
      color: #ffffff;
  */
  min-height: 50px;
}

/* Header left */
.logo {
  margin: auto 0;
  font-weight: bolder;
  font-size: 24px;
  cursor: pointer;
}
/* Header right */
.nav {
  margin: 0 0 0 auto;
  position: relative;
}
.nav-list {
  display: inline-flex;
  list-style: none;
  margin: 0px;
  margin-top: 15px;
}
.nav-list a {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
}
.nav-list li {
  padding: 0px 5px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 600;
  transition-duration: 0.3s;
}
.nav-list:not(:hover) li.active {
  border-bottom: 2px solid #41b218;
  cursor: auto;
  color: #41b218;
}
.nav-list li:not(.active):hover {
  border-bottom: 2px solid #41b218;
  font-size: 20px;
  color: #41b218;
  transition-duration: 0.3s;
}

