#experience {
  width: 100%;
  background: #f3fff8;
  background-size: cover;
  position: relative;
}

#experience:before {
  content: "";
  width: 40%;
  height: 100%;
  background: url("/public/img/triangles-left-white-bg.svg") top right no-repeat;
  background-size: cover;
  position: absolute;
}
