html,body {
  box-sizing: border-box;
  color: #2b2929;
}
.content, .main-header {
  padding: 5px;
}
.my-btn {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.my-btn:hover {
  text-decoration: none;
  color: inherit;
}
.btn-transparent {
  background-color: transparent;
}
.btn-transparent:hover {
  background: rgba(255, 255, 255, 0.2);
}
