.work-box {
    cursor: pointer;
    position: relative;
    color: #ffffff;
    z-index: 0;
    background-color: #0E243A;
}
.work-content {
    padding: 20px;
}
.work-content:hover {
    opacity: 0.2;
    transition-duration: 0.5s;
    transition-property: opacity;
}
.work-box .hover-text {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.work-box:hover .hover-text {
    display: block;
    transition: all;
    transition-duration: 0.5s;
}
.work-title {
    margin-top: 10px;
    color: #2ed070;
}
.work-tag {
    font-size: 12px;
    color: #2ed070;
}
.work-img {
    max-width: 25px;
    max-height: 30px;
}
.work-img:not(.zero) {
    margin-left: 10px;
}